.header-nav {
  display: flex;
}

.button {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 53px;

  img {
    margin-right: 10px;
  }

  span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212542;
  }

  div {
    position: absolute;
    top: -1px;
    left: 13px;
    width: 16px;
    height: 16px;
    background-color: #FE8888;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:nth-child(1) {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .header-nav {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 92px;
    right: 0;
    transform: translateY(-200%);
    opacity: 0;
    background: white;
    border: 1px solid #F8F8F8;
    border-radius: 0 0 10px 10px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

    &.open {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .button {
    margin-left: 0;
    padding: 20px 40px;

    div {
      top: 18px;
      left: 52px;
    }
  }
}