.header-nav {
  display: flex;
}

@media (max-width: 480px) {
  .header-nav {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 92px;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    background: white;
    border: 1px solid #F8F8F8;
    border-radius: 0 0 10px 10px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

    &.open {
      transform: translateY(0);
      opacity: 1;
    }
  }
}