.card {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #F4F5FF;
  border-radius: 30px;
  cursor: pointer;

  .card-image {
    background: #F1F7FF;
    border-radius: 30px 30px 0 0;

    img {
      width: 100%;
    }
  }

  .card-info {
    padding: 24px 28px 24px 24px;
    .card-name {
      margin-bottom: 8px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #212542;
    }

    .card-price {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: rgba(33, 37, 66, 0.7);
    }
  }
}

