.header {
  padding: 20px 0;
  background: #FFFFFF;
  border-bottom: 1px solid #F8F8F8;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    max-width: 180px;

    img {
      width: 100%;
    }
  }

  .header-nav {
    display: flex;

    .button:nth-child(1) {
      margin-left: 0;
    }
  }

  .button {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 53px;

    img {
      margin-right: 10px;
    }

    span {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #212542;
    }
  }
}

@media (max-width: 480px) {
  .header {
    & > .container {
      flex-direction: column;
    }

    .header-logo {
      margin-bottom: 20px;
    }
  }
}